<h1>Teams</h1>

<ul>
	<% @teams.each do |team| %>
		<li>
			<%= link_to team.name, team_path(team) %>
		</li>
	<% end %>
</ul>

<%= link_to "Add New Team", new_team_path %> #navigation is pretty difficult, very little links together and create
# sub-folders links aren't where I would have expected (such as create new items aren't in project).
