<h1>Teams</h1>

<ul>
	<% @teams.each do |team| %>
		<li>
			<%= link_to team.name, team_path(team) %>
		</li>
	<% end %>
</ul>

<%= link_to "Add New Team", new_team_path %> #navigation is pretty difficult, very little links together and create
# sub-folders links aren't where I would have expected (such as create new items aren't in project).
<!-- not sure what you mean by create new items aren't in project
	if you mean there isn't a link to create new items in a project_url(id)
	then link_to new_item in the project_url(id)
	if you mean new_project_item doesn't exist then just nest it in the resources :projects route -->
