<h1><%= @project.title %></h1>

<h3>Overview</h3>
<%= @project.description %>

<br>
<h3>Tasks</h3>
<ul>
	<% @project.items.each do |item| %>
		<li>
			<%= link_to item.title, item_path(item)%>
		</li>
	<% end %>
</ul>